@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%); 
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Spartan', sans-serif;
  color: var(--black);
  text-decoration: none;
  font-size: 12px;
}

/* .main-container{
  max-height: 100vh;
} */

/* NAVBAR */
.navbar-mobile{
  display: none;
}

.navbar-desktop {
  position: absolute;
  z-index: 1;
}

.navbar-desktop nav {
  display: flex;
  align-items: center;
  position: fixed;
  margin: 55px 0 0 55px;
}

.navbar-desktop a, h1 {
  color: var(--white);
}

.navbar-desktop h1 {
  font-weight: 600;
  font-size: 25px;
  margin-right: 50px;
}

.navbar-desktop a {
  margin-right: 30px;
  position: relative;
}

.navbar-desktop a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: var(--white);
  transition: width 0.3s ease-out;
  bottom: -13px;
  left: 25%;
  right: 75%;
  border-radius: 25%;
}

.navbar-desktop a:hover:after {
  width: 50%;
  transition: width 0.3s ease-out;
  right: 75%;
  left: 25%;
}

/* CAROUSEL */

.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.carousel-element {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  transition: margin-left 0.25s;
}

.carousel-element img {
  width: 58.3vw;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 70px 7vw 120px 7vw;
  width: 27.8vw;
}

.description h2 {
  font-weight: 600;
  font-size: 39px;
  letter-spacing: -1.5px;
}

.description p {
  font-weight: 600;
  margin: 25px 0;
  color: var(--dark-gray);
  line-height: 1.6;
  opacity: 0.7;
  letter-spacing: -1px;
  font-size: 13px;
}

/* CALL TO ACTION */

.call-to-action {
  font-weight: 600;
  color: var(--very-dark-gray);
  letter-spacing: 10px;
  margin-top: 10px;
}

.call-to-action:hover {
  opacity: 0.5;
}

/* BTN CAROUSEL */

.nav-carousel-btn {
  position: absolute;
  bottom: 0;
  left: 58.3vw;
  display: flex;
  flex-direction: row;
}

.carousel-btn {
  color: var(--dark-gray);
  background-color: var(--black);
  padding: 25px 32.5px;
  font-size: 30px;
  cursor: pointer;
}

.carousel-btn:hover {
  background-color: var(--very-dark-gray);
}

/* ABOUT */

.about {
  display: flex;
}

.about img {
  object-fit: cover;
  width: 31vw;
}

.infos-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  width: 38vw;
}

.infos-about h3 {
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 4px;
}

.infos-about p {
  font-weight: 600;
  margin: 10px 0;
  color: var(--dark-gray);
  line-height: 1.6;
  opacity: 0.7;
  letter-spacing: -1px;
  font-size: 13px;
}

/* FOOTER */

.attribution {
  padding: 10px;
}

@media (max-width: 900px) {

  .carousel-container {
    position: relative;
  }

  .carousel-element {
    flex-direction: column;
  }

  .carousel-element img {
    width: 100vw;
    position: relative;
  }

  .description {
    padding: 65px 40px;
    width: unset;
  }

  .nav-carousel-btn {
    position: absolute;
    right: 0;
    bottom: unset;
    left: unset;
  }
}

@media (max-width: 375px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    position: absolute;
    display: flex;
    z-index: 1;
  }

  .menu-options {
    display: none;
  }

  .carousel-element img {
    height: 40vh;
    object-fit: unset;
  }

  .about {
    display: unset;
  }

  .about img {
    width: 100vw;
  }

  .infos-about {
    padding: 50px 50px;
    width: inherit;
  }
}